__pycache__/
*.py[cod]
*.pyo

db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.mo
*.bak
*.tmp


**/migrations/*.pyc
**/migrations/__pycache__/

.env
*.env
venv/
ENV/
env/
.venv/


.vscode/
.idea/
*.swp
.pylintrc




.DS_Store
Thumbs.db


build/
dist/
*.egg-info/
